<!DOCTYPE html>
<html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Boleta</title>
    <!--
     
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/css/mdb.css" />

    <link rel="stylesheet" href="../resources/css/addons/datatables.min.css">
    <link rel="stylesheet" href="../resources/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../resources/css/cssMaster.css" />
    <link rel="stylesheet" href="../resources/css/style.css" />

</head>

<body>
    <script type="text/javascript" src="../resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/js/popper.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../resources/js/mdb.min.js"></script>
    <!--<script type="text/javascript" src="../resources/js/style.js"></script>    -->
    <script type="text/javascript" src="../resources/js/addons/datatables.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap-datetimepicker.es.js"></script>
    <script type="text/javascript" src="../resources/js/style.js">
    </script>
    <div class="sidebar">
        <a class="active" href="#home">
            <div class="row align-items-center">
                <div class="col-4  mr-0 align-items-center">
                    <img class="logo my-2" src="../resources/img/logo.png" alt="logo-cooperativa4pinos">
                </div>
                <div class="col-8 align-items-center align-self-center">
                    Cooperativa <br /> 4 Pinos
                </div>
            </div>
        </a>
        <a href="#Administracion" data-toggle="collapse" aria-expanded="false" class="collapse d-flex justify-content-between">
            Administracion <i id="icon" class="fas fa-angle-down"></i></a></a>
        <ul class="collapse list-unstyled" id="Administracion">
            <li><a href="mntProducto.html">Productos</a></li>
            <li><a href="mntAfiliado.html">Afiliado</a></li>
            <li><a href="#">Comunidades</a></li>
            <li><a href="mntCredito.html">Créditos</a></li>
            <li><a href="mntTarifa.html">Tarifa</a></li>
            <li><a href="#">Otros</a></li>
        </ul>

        <a href="#Gestiones" data-toggle="collapse" aria-expanded="false" class="collapse d-flex justify-content-between">
            Gestiones <i class="fas fa-angle-down"></i></a></a>
        <ul class="collapse list-unstyled" id="Gestiones">
            <li><a href="mntBoleta.html">Boletas</a></li>
            <li><a href="#">Imprimir Cheque</a></li>
            <li><a href="#">Generar Contrato</a></li>
            <li><a href="#">Generar Intereses</a></li>
            <li><a href="#">Generar Cheques</a></li>
            <li><a href="#">Proceso de Liquidación</a></li>
            <li><a href="#">Impresión de Facturas</a></li>
        </ul>

        <a href="#Reportes" data-toggle="collapse" aria-expanded="false" class="collapse d-flex justify-content-between">
            Reportes <i class="fas fa-angle-down"></i></a>
        <ul class="collapse list-unstyled" id="Reportes">
            <li><a href="#">Estado de Cuenta</a></li>
            <li><a href="#">Listado Pago Producto Fresco</a></li>
            <li><a href="#">Resumen de Producción</a></li>
        </ul>  
    </div>
    <div class="content">
        <div class="container px-0">
            <div class="jumbotron text-center bg-color bg-cover-jb">
                <div class="overlay"></div>
                <div class="container">
                    <h3>Boletas</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row w-100">
                <div class="col-sm-12 mx-4 px-4">
                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                        width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm">Código
                                </th>
                                <th class="th-sm">Afiliado
                                </th>
                                <th class="th-sm">Fecha ingreso
                                </th>
                                <th class="th-sm">Fecha pago
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>898484899</td>
                                <td>Afiliado 3</td>
                                <td>2020/01/03</td>
                                <td>2020/01/29</td>
                                <td>
                                    <button type="button"
                                        class="btn btn-secondary my-2  m-0 waves-effect px-2 py-1 fa-2x rounded-lg">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button type="button" id="modificar"
                                        class="btn btn-primary m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg modificar"
                                        data-toggle="modal" data-target="#modalArriba">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button"
                                        class="btn btn-warning m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg"
                                        data-toggle="modal" data-target="#modalEliminar">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>298489488</td>
                                <td>Afiliado 3</td>
                                <td>2020/01/02</td>
                                <td>2020/01/30</td>
                                <td>
                                    <button type="button"
                                        class="btn btn-secondary my-2  m-0 waves-effect px-2 py-1 fa-2x rounded-lg">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button type="button" id="modificar"
                                        class="btn btn-primary m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg modificar"
                                        data-toggle="modal" data-target="#modalArriba">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button"
                                        class="btn btn-warning m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg"
                                        data-toggle="modal" data-target="#modalEliminar">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>59489498</td>
                                <td>Afiliado 3</td>
                                <td>2020/01/01</td>
                                <td>2020/01/31</td>
                                <td>
                                    <button type="button"
                                        class="btn btn-secondary my-2  m-0 waves-effect px-2 py-1 fa-2x rounded-lg">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button type="button" id="modificar"
                                        class="btn btn-primary m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg modificar"
                                        data-toggle="modal" data-target="#modalArriba">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button"
                                        class="btn btn-warning m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg"
                                        data-toggle="modal" data-target="#modalEliminar">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                </td>

                            </tr>

                        </tbody>
                        <tfoot>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade top" id="modalArriba" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">

        <div class="modal-dialog modal-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center" id="myModalLabel">Nueva Boleta</h4>
                    <button type="button" class="close cerrarModal" id="cerrarModal" data-dismiss="modal"
                        aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    <form class="needs-validation">
                        <div class="form-group">
                            <label for="txtCodigo">Código boleta:</label>
                            <input type="text" class="form-control" id="txtCodigo">
                        </div>
                        <div class="form-group">
                            <label for="txtAfiliado">Afiliado:</label>
                           
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtAfiliado">
                                <button type="button" onclick="validarAfiliado();" id="btnValidarAfiliado"
                                class="btn btn-primary m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg">
                                <i class="fas fa-check" id="iconValidarAfiliado"></i>
                                </button>
                            </div>
                            
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6 dtpicker input-append date" style="margin: 0">
                                <label for="txtFechaIngreso">Fecha ingreso:</label>
                                <div class="input-group date" data-date="" data-date-format="yyyy mm dd"
                                    data-link-field="txtFechaIngreso" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" size="16" type="text" value="" id="txtFechaIngreso">
                                    <span class="input-group-text input-group-addon" id="removeFechaIngreso">
                                        <span class="add-on fas fa-times"></span>
                                    </span>
                                    <span class="input-group-text input-group-addon" id="showFechaIngreso">
                                        <span class="add-on fas fa-calendar"></span>
                                    </span>
                                </div>
                                <input type="hidden" id="hdnFechaIngreso" value="" /><br />

                            </div>
                            <div class="form-group col-6 dtpicker input-append date" style="margin: 0">
                                <label for="txtFechaPago">Fecha pago:</label>
                                <div class="input-group date" data-date="" data-date-format="yyyy mm dd"
                                    data-link-field="txtFechaPago" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" size="16" type="text" value="" id="txtFechaPago">
                                    <span class="input-group-text input-group-addon" id="removeFechaPago">
                                        <span class="add-on fas fa-times"></span>
                                    </span>
                                    <span class="input-group-text input-group-addon" id="showFechaPago">
                                        <span class="add-on fas fa-calendar"></span>
                                    </span>
                                </div>
                                <input type="hidden" id="hdnFechaPago" value="" /><br />

                            </div>
                        </div>
                        <div class="form-group">
                                <label for="txtProducto">Producto:</label>
                                <select class="form-control" id="txtProducto">
                                    <option>Producto 1</option>
                                    <option>Producto 2</option>
                                    <option>Producto 3</option>
                                    <option>Producto 4</option>
                                </select>
                            </div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="txtLbsBrutas">Lbs. brutas:</label>
                                <input type="text" class="form-control" id="txtLbsBrutas">
                            </div>
                            <div class="form-group col-6">
                                <label for="txtLbsRechazo">Lbs. rechazo:</label>
                                <input type="text" class="form-control" id="txtLbsRechazo">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="txtRechazo">Rechazo:</label>
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" id="txtRechazo">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">%</div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group col-6">
                                <label for="txtTolerancia">Tolerancia:</label>
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" id="txtTolerancia">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">%</div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>

                    </form>
                    <!--<button type="button" style="background-color:#28a745" class="btn btn-success">Success</button>
                        <button type="button" style="background-color:#7E9D2F" class="btn btn-primary">Primary</button>
                        <button type="button" style="background-color:#7E2F9E" class="btn btn-secondary">Secondary</button>
                        <button type="button" style="background-color:#3C0852" class="btn btn-info">Info</button>
                        <button type="button" style="background-color:#3F5210" class="btn btn-warning">Warning</button>
                        <button type="button"  class="btn btn-danger">Danger</button>-->
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger cerrarModal" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" id="guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade top" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">

        <div class="modal-dialog modal-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center" id="myModalLabel">Eliminar Afiliado</h4>
                    <button type="button" class="close cerrarModal" id="cerrarModal" data-dismiss="modal"
                        aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    Esta seguro que desea eliminar el registro?
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger cerrarModal" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="guardar">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //datapicket
        $("#txtFechaIngreso").datetimepicker({
            //format: "LT",
            format: 'yyyy-mm-dd',
            forceParse: true,
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left",
            language: 'es',
            startView: 4,
            minView: 2
        });
        $("#showFechaIngreso").click(function () {
            $('#txtFechaIngreso').datetimepicker('show');
        });
        $("#removeFechaIngreso").click(function () {
            $("#txtFechaIngreso").val('');
        });

        $("#txtFechaPago").datetimepicker({
            //format: "LT",
            format: 'yyyy-mm-dd',
            forceParse: true,
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left",
            language: 'es',
            startView: 4,
            minView: 2
        });
        $("#showFechaPago").click(function () {
            $('#txtFechaPago').datetimepicker('show');
        });
        $("#removeFechaPago").click(function () {
            $("#txtFechaPago").val('');
        });

        //modificar
        $(".modificar").click(function () {
            $("#txtCodigo").val($(this).parents("tr").find("td").eq(0).html());
            $("#txtAfiliado").val($(this).parents("tr").find("td").eq(1).html());
            $("#txtFechaIngreso").val($(this).parents("tr").find("td").eq(2).html());
            $("#txtFechaPago").val($(this).parents("tr").find("td").eq(3).html());
  
        })

        //modal
        $("#modalArriba").click(function () {
            $("body").addClass("modal-open");
        }).on("hidden", function () {
            $("body").removeClass("modal-open")
        });
        $(".cerrarModal").click(function () {
            limpiarCampos();
        })
        $("#guardar").click(function () {

        })

        //funciones
        function limpiarCampos() {
            $("#txtCodigo").val('');
            $("#txtAfiliado").val('');
            $("#txtFechaIngreso").val('');
            $("#txtFechaPago").val('');
            $("#txtLbsBrutas").val('');
            $("#txtLbsRechazo").val('');
            $("#txtRechazo").val('');
            $("#txtTolerancia").val('');
        }
        function validarAfiliado()
        {
            if(document.getElementById("txtAfiliado").disabled == true)
            {
                document.getElementById("txtAfiliado").disabled = false;
                document.getElementById("txtAfiliado").value = "";
                document.getElementById("iconValidarAfiliado").className = "fas fa-check";
                document.getElementById("btnValidarAfiliado").className = 
                "btn btn-primary m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg";
            }
            else 
            {
                
                document.getElementById("txtAfiliado").disabled = true;
                document.getElementById("txtAfiliado").value = "Afiliado prueba";
                document.getElementById("iconValidarAfiliado").className = "fas fa-times-circle";
                document.getElementById("btnValidarAfiliado").className = 
                "btn btn-danger m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg";

            }
        }

    </script>

</body>

</html>