<!DOCTYPE html>
<html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tarifa</title>
    <!--
     
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/css/mdb.css" />

    <link rel="stylesheet" href="../resources/css/addons/datatables.min.css">
    <link rel="stylesheet" href="../resources/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../resources/css/cssMaster.css" />
    <link rel="stylesheet" href="../resources/css/style.css" />

</head>

<body>
    <script type="text/javascript" src="../resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/js/popper.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../resources/js/mdb.min.js"></script>
    <!--<script type="text/javascript" src="../resources/js/style.js"></script>    -->
    <script type="text/javascript" src="../resources/js/addons/datatables.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap-datetimepicker.es.js"></script>
    <script type="text/javascript" src="../resources/js/style.js">
    </script>
    <div class="sidebar">
        <a class="active" href="#home">
            <div class="row align-items-center">
                <div class="col-4  mr-0 align-items-center">
                    <img class="logo my-2" src="../resources/img/logo.png" alt="logo-cooperativa4pinos">
                </div>
                <div class="col-8 align-items-center align-self-center">
                    Cooperativa <br /> 4 Pinos
                </div>
            </div>
        </a>
        <a href="#Administracion">Administración</a>
        <a href="#Gestiones">Gestiones</a>
        <a href="#Reportes">Reportes</a>
    </div>
    <div class="content">
        <div class="container px-0">
            <div class="jumbotron text-center bg-color bg-cover-jb">
                <div class="overlay"></div>
                <div class="container">
                    <h3>Mantenimiento Tarifa</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                </div>
            </div>
            <div class="row w-100">
                <div class="col-sm-12 mx-4 px-4">
                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                        width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm">Código
                                </th>
                                <th class="th-sm">Descripción
                                </th>
                                <th class="th-sm">Tipo
                                </th>
                                <th class="th-sm">Tarifa
                                </th>
                                <th class="th-sm">Fecha inicio
                                </th>
                                <th class="th-sm">Fecha fin
                                </th>
                                <th class="th-sm">Estado
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="codigo">9849</td>
                                <td id="descripcion">Tarifa 1</td>
                                <td id="tipoTarifa">Impuesto</td>
                                <td id="tarifa">ISR</td>
                                <td id="fechaInicio">2020/02/25</td>
                                <td id="fechaFin">2020/02/26</td>
                                <td id="estado">Alta</td>
                                <td>
                                    <button type="button"
                                        class="btn btn-secondary my-2  m-0 waves-effect px-2 py-1 fa-2x rounded-lg"
                                        data-toggle="modal" data-target="#modalVer">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button type="button"
                                        class="modificar btn btn-primary m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg"
                                        data-toggle="modal" data-target="#modalArriba">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" 
                                        class="btn btn-warning m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg"
                                        data-toggle="modal" data-target="#modalEliminar">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td id="codigo">8824</td>
                                <td id="descripcion">Tarifa 2</td>
                                <td id="tipoTarifa">Descuento</td>
                                <td id="tarifa">Mayoreo</td>
                                <td id="fechaInicio">2020/02/26</td>
                                <td id="fechaFin">2020/02/27</td>
                                <td id="estado">Alta</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#modalVer"
                                        class="btn btn-secondary my-2  m-0 waves-effect px-2 py-1 fa-2x rounded-lg">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button type="button"
                                        class="modificar btn btn-primary m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg"
                                        data-toggle="modal" data-target="#modalArriba">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button"
                                        class="btn btn-warning m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg"
                                        data-toggle="modal" data-target="#modalEliminar">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td id="codigo">859589</td>
                                <td id="descripcion">Tarifa 3</td>
                                <td id="tipoTarifa">Impuesto</td>
                                <td id="tarifa">Retraso</td>
                                <td id="fechaInicio">2020/02/28</td>
                                <td id="fechaFin">2020/02/29</td>
                                <td id="estado">Alta</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#modalVer"
                                        class="btn btn-secondary my-2  m-0 waves-effect px-2 py-1 fa-2x rounded-lg">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button type="button"
                                        class="modificar btn btn-primary m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg"
                                        data-toggle="modal" data-target="#modalArriba">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button"
                                        class="btn btn-warning m-0 waves-effect my-2 px-2 py-1 fa-2x rounded-lg"
                                        data-toggle="modal" data-target="#modalEliminar">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                </td>

                            </tr>

                        </tbody>
                        <tfoot>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade top" id="modalArriba" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">

        <div class="modal-dialog modal-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center" id="myModalLabel">Nueva Tarifa</h4>
                    <button type="button" class="close cerrarModal" id="cerrarModal" data-dismiss="modal"
                        aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    <form class="needs-validation">
                        <div class="form-group">
                            <label for="txtDescripcion">Descripción:</label>
                            <input type="text" class="form-control" id="txtDescripcion">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="txtTarifa">Tarifa:</label>
                                <input type="text" class="form-control" id="txtTarifa">
                            </div>
                            <div class="form-group col-6">
                                <label for="txtTipoTarifa">Tipo tarifa:</label>
                                <select type="text" class="form-control" id="txtTipoTarifa">
                                    <option>Seleccionar...</option>
                                    <option value="Impuesto">Impuesto</option>
                                    <option value="Descuento">Descuento</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-6 dtpicker input-append date">
                                <label for="txtFechaInicio">Fecha inicio:</label>
                                <div class="input-group date" data-date="" data-date-format="yyyy mm dd"
                                    data-link-field="txtFechaIngreso" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" size="16" type="text" value="" id="txtFechaInicio">
                                    <span class="input-group-text input-group-addon" id="removeInicio">
                                        <span class="add-on fas fa-times"></span>
                                    </span>
                                    <span class="input-group-text input-group-addon" id="showInicio">
                                        <span class="add-on fas fa-calendar"></span>
                                    </span>
                                </div>
                                <input type="hidden" id="hdnFechaInicio" value="" /><br />
                            </div>
                            <div class="form-group col-6 dtpicker input-append date">
                                <label for="txtFechaFin">Fecha fin:</label>
                                <div class="input-group date" data-date="" data-date-format="yyyy mm dd"
                                    data-link-field="txtFechaIngreso" data-link-format="yyyy-mm-dd">
                                    <input class="form-control" size="16" type="text" value="" id="txtFechaFin">
                                    <span class="input-group-text input-group-addon" id="removeFin">
                                        <span class="add-on fas fa-times"></span>
                                    </span>
                                    <span class="input-group-text input-group-addon" id="showFin">
                                        <span class="add-on fas fa-calendar"></span>
                                    </span>
                                </div>
                                <input type="hidden" id="hdnFechaFin" value="" /><br />
                            </div>
                        </div>

                    </form>
                    <!--<button type="button" style="background-color:#28a745" class="btn btn-success">Success</button>
                        <button type="button" style="background-color:#7E9D2F" class="btn btn-primary">Primary</button>
                        <button type="button" style="background-color:#7E2F9E" class="btn btn-secondary">Secondary</button>
                        <button type="button" style="background-color:#3C0852" class="btn btn-info">Info</button>
                        <button type="button" style="background-color:#3F5210" class="btn btn-warning">Warning</button>
                        <button type="button"  class="btn btn-danger">Danger</button>-->
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger cerrarModal" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" id="guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade top" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">

        <div class="modal-dialog modal-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center" id="myModalLabel">Detalle Tarifa</h4>
                    <button type="button" class="close cerrarModal" id="cerrarModal" data-dismiss="modal"
                        aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    <form class="needs-validation">
                        <div class="form-group">
                            <label class="font-weight-bold">Descripción:</label>
                            <label id="lblDescripcion">  Descripción prueba </label>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label class="font-weight-bold">Tarifa:</label>
                                <label id="lblTarifa">Tarifa prueba</label>
                            </div>
                            <div class="form-group col-6">
                                <label class="font-weight-bold">Tipo tarifa:</label>
                                <label id="lblTipoTarifa" ></label>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-6 dtpicker input-append date">
                                <label class="font-weight-bold">Fecha inicio:</label>
                                <label id="lblFechaInicio">01/01/1900</label>
                            </div>
                            <div class="form-group col-6 dtpicker input-append date">
                                <label class="font-weight-bold">Fecha fin:</label>
                                <label id="lblFechaFin" >01/01/2099</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="row w-100">
                                <div class="col-sm-4 text-center ">
                                    <table id="tblComunidades" class="table table-striped table-bordered table-sm" cellspacing="0"
                                    style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th class="th bg-primary text-white">Comunidad</th>
                                        </tr>
                                        
                                    </thead>
                                    <tbody style=>                                   
                                        <tr class="td">
                                            <td style="width:100%;" >Comunidad 1</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Comunidad 2</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Comunidad 3 </td>
                                            
                                        </tr>
            
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
            
                                </table>
                                  
                                </div>
                                <div class="col-sm-4 text-center  ">
                                    
                                            <table id="tblProductos" class="table table-responsive table-striped table-bordered table-sm " >
                                                <thead>
                                                    <tr>
                                                        <th class="bg-secondary th text-white">Productos</th>
                                                    </tr>
                                                </thead>
                                                <tbody>                                   
                                                    <tr>
                                                        <td>Ejotes </td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td>Zanahoria Amarilla</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td>Zanahoria Blanca</td>                                                        
                                                    </tr>        
                                                </tbody>
                                                <tfoot>
                                                </tfoot>                        
                                            </table>                
                                                                         
                                
                                </div>
                                <div class="col-sm-4 text-center" >
                                    
                                            <table id="tblTipoAfiliado" class="table table-responsive table-striped table-bordered table-sm" cellspacing="0"
                                            >
                                                <thead>
                                                    <tr>                                                 
                                                        <th class="bg-info th text-white">
                                                            Tipo Afiliado
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>                                   
                                                    <tr>
                                                        <td>Asociados a la Cooperativa </td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td>Proveedor de la cooperativa</td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td>Fincas afiliadas a la cooperativa</td>
                                                        
                                                    </tr>        
                                                </tbody>
                                                <tfoot>
                                                </tfoot>        
                                            </table>
                                        
                                </div>
                            </div>
                        </div>

                    </form>
                    <!--<button type="button" style="background-color:#28a745" class="btn btn-success">Success</button>
                        <button type="button" style="background-color:#7E9D2F" class="btn btn-primary">Primary</button>
                        <button type="button" style="background-color:#7E2F9E" class="btn btn-secondary">Secondary</button>
                        <button type="button" style="background-color:#3C0852" class="btn btn-info">Info</button>
                        <button type="button" style="background-color:#3F5210" class="btn btn-warning">Warning</button>
                        <button type="button"  class="btn btn-danger">Danger</button>-->
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger cerrarModal" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" id="guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade top" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">

        <div class="modal-dialog modal-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100 text-center" id="myModalLabel">Eliminar Tarifa</h4>
                    <button type="button" class="close cerrarModal" id="cerrarModal" data-dismiss="modal"
                        aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    Esta seguro que desea eliminar el registro?
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger cerrarModal" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="guardar">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //datapicket
        $("#txtFechaInicio").datetimepicker({
            //format: "LT",
            format: 'yyyy-mm-dd',
            forceParse: true,
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left",
            language: 'es',
            startView: 4,
            minView: 2
        });
        $("#showInicio").click(function () {
            $('#txtFechaInicio').datetimepicker('show');
        });
        $("#removeInicio").click(function () {
            $("#txtFechaInicio").val('');
        });

        $("#txtFechaFin").datetimepicker({
            //format: "LT",
            format: 'yyyy-mm-dd',
            forceParse: true,
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left",
            language: 'es',
            startView: 4,
            minView: 2
        });
        $("#showFin").click(function () {
            $('#txtFechaFin').datetimepicker('show');
        });
        $("#removeFin").click(function () {
            $("#txtFechaFin").val('');
        });

        //modificar
        $(".modificar").click(function () {
            $("#txtDescripcion").val($(this).parents("tr").find("td").eq(1).html());
            $("#txtTipoTarifa").val($(this).parents("tr").find("td").eq(2).html());
            $("#txtTarifa").val($(this).parents("tr").find("td").eq(3).html());
            $("#txtFechaInicio").val($(this).parents("tr").find("td").eq(4).html());
            $("#txtFechaFin").val($(this).parents("tr").find("td").eq(5).html());
        })

        //modal
        $("#modalArriba").click(function () {
            $("body").addClass("modal-open");
        }).on("hidden", function () {
            $("body").removeClass("modal-open")
        });
        $(".cerrarModal").click(function () {
            limpiarCampos();
        })
        $("#guardar").click(function () {

        })

        //funciones
        function limpiarCampos() {
            $("#txtDescripcion").val('');
            $("#txtTipoTarifa").val('');
            $("#txtTarifa").val('');
            $("#txtFechaInicio").val('');
            $("#txtFechaFin").val('');
        }

    </script>

</body>

</html>