<!DOCTYPE html>
<html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Estado de Cuenta de Producto Fresco Mujeres 4 Pinos</title>
    <!--
     
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/css/mdb.css" />

    <link rel="stylesheet" href="../resources/css/addons/datatables.min.css">
    <link rel="stylesheet" href="../resources/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../resources/css/cssMaster.css" />
    <link rel="stylesheet" href="../resources/css/style.css" />

</head>

<body class="bg-light py-5">
    <script type="text/javascript" src="../resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/js/popper.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../resources/js/mdb.min.js"></script>
    <link href="../resources/css/tableexport.css" rel="stylesheet" type="text/css">


    <!--<script type="text/javascript" src="../resources/js/style.js"></script>    -->
    <script type="text/javascript" src="../resources/js/addons/datatables.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap-datetimepicker.es.js"></script>
    <script type="text/javascript" src="../resources/js/style.js">
    </script>
    <div class="container bg-white mt-5">
        <div class="row w-100">
            <div class="col-sm-12 mx-4 px-4">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr ><th colspan="9" class="text-center">
                                <h3>Estado de Cuenta Agrocrédito Mujeres 4 Pinos</h3>
                                <p id="lblRango"></p>
                                <p id="lblFecha"></p>
                                <p id="lblTipoCrédito"></p>
                            </th></tr>
                            <tr class="table-borderless border border-right">
                                <th colspan="1">Asociado</th>
                                <th colspan="1">7064</th>
                                <th colspan="7" id="lblAfiliado"></th>
                            </tr>
                            <tr>
                                <th class="th-sm">Fecha
                                </th>
                                <th class="th-sm">TD
                                </th>
                                <th class="th-sm">Docto. No.
                                </th>
                                <th class="th-sm">Capital
                                </th>
                                <th class="th-sm">Capital Recuperado
                                </th>
                                <th class="th-sm">Saldo de Capital
                                </th>
                                <th class="th-sm">Intereses Ganados
                                </th>
                                <th class="th-sm">Intereses Recuperados
                                </th>
                                <th class="th-sm">Saldo de Intereses
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>43862</td>
                                <td>D</td>
                                <td>0</td>
                                <td>1471.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>394.32</td>
                                <td>0.00</td>
                                <td>394.97</td>
                            </tr>
                            <tr>
                                <td>43863</td>
                                <td>I</td>
                                <td>653</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>0.65</td>
                                <td>0.00</td>
                                <td>395.62</td>
                            </tr>
                            <tr>
                                <td>43864</td>
                                <td>I</td>
                                <td>1965</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>0.65</td>
                                <td>0.00</td>
                                <td>396.27</td>
                            </tr>
                            <tr>
                                <td>43865</td>
                                <td>I</td>
                                <td>4987</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>0.65</td>
                                <td>0.00</td>
                                <td>396.92</td>
                            </tr>
                            <tr>
                                <td>43866</td>
                                <td>I</td>
                                <td>1186</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>0.65</td>
                                <td>0.00</td>
                                <td>397.57</td>
                            </tr>
                            <tr>
                                <td>43867</td>
                                <td>I</td>
                                <td>4927</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>0.65</td>
                                <td>0.00</td>
                                <td>398.22</td>
                            </tr>
                            <tr>
                                <td>43868</td>
                                <td>I</td>
                                <td>787</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>0.65</td>
                                <td>0.00</td>
                                <td>398.87</td>
                            </tr>
                            <tr>
                                <td>43869</td>
                                <td>I</td>
                                <td>1958</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>0.65</td>
                                <td>0.00</td>
                                <td>399.52</td>
                            </tr>
                            <tr>
                                <td>43870</td>
                                <td>I</td>
                                <td>27</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>0.65</td>
                                <td>0.00</td>
                                <td>400.17</td>
                            </tr>
                            <tr>
                                <td>43871</td>
                                <td>I</td>
                                <td>4690</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>0.65</td>
                                <td>0.00</td>
                                <td>400.82</td>
                            </tr>
                            <tr>
                                <td>43872</td>
                                <td>I</td>
                                <td>1554</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>1.25</td>
                                <td>0.00</td>
                                <td>402.07</td>
                            </tr>
                            <tr>
                                <td>43873</td>
                                <td>I</td>
                                <td>4640</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>1471.00</td>
                                <td>1.25</td>
                                <td>0.00</td>
                                <td>403.32</td>
                            </tr>
                            <tr>
                                <td>43874</td>
                                <td>C</td>
                                <td>2363</td>
                                <td>1009.00</td>
                                <td>0.00</td>
                                <td>2480.00</td>
                                <td>1.25</td>
                                <td>0.00</td>
                                <td>404.57</td>
                            </tr>
                            <tr>
                                <td>43875</td>
                                <td>C</td>
                                <td>868</td>
                                <td>350.00</td>
                                <td>0.00</td>
                                <td>2830.00</td>
                                <td>1.25</td>
                                <td>0.00</td>
                                <td>405.82</td>
                            </tr>
                            <tr>
                                <td>43876</td>
                                <td>C</td>
                                <td>4460</td>
                                <td>250.00</td>
                                <td>0.00</td>
                                <td>3080.00</td>
                                <td>1.25</td>
                                <td>0.00</td>
                                <td>407.07</td>
                            </tr>
                            <tr>
                                <td>43877</td>
                                <td>I</td>
                                <td>3796</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>3080.00</td>
                                <td>1.25</td>
                                <td>0.00</td>
                                <td>408.32</td>
                            </tr>
                            <tr>
                                <td>43878</td>
                                <td>I</td>
                                <td>2473</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>3080.00</td>
                                <td>1.25</td>
                                <td>0.00</td>
                                <td>409.57</td>
                            </tr>
                            <tr>
                                <td>43879</td>
                                <td>I</td>
                                <td>3150</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>3080.00</td>
                                <td>1.25</td>
                                <td>0.00</td>
                                <td>410.82</td>
                            </tr>
                            <tr>
                                <td>43880</td>
                                <td>I</td>
                                <td>4786</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>3080.00</td>
                                <td>1.25</td>
                                <td>0.00</td>
                                <td>412.07</td>
                            </tr>
                            <tr>
                                <td>43881</td>
                                <td>I</td>
                                <td>4016</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>3080.00</td>
                                <td>1.25</td>
                                <td>0.00</td>
                                <td>413.32</td>
                            </tr>
                            <tr class="table-secondary">
                                <td colspan='3'></td>
                                <td>3080.00</td>
                                <td>0.00</td>
                                <td>3080</td>
                                <td>1.25</td>
                                <td>0.00</td>
                                <td>413.32</td>
                            </tr>


                        </tbody>

                    </table>
                </div>

                <hr class="d-sm-none">
            </div>
        </div>
    </div>


    <script src="../resources/js/excel/Blob.min.js"></script>
    <script src="../resources/js/excel/FileSaver.min.js"></script>
    <script src="../resources/js/excel/xls.core.min.js"></script>
    <script src="../resources/js/excel/tableexport.js"></script>
    <script>

    </script>
    <script type="text/javascript">
        $("table").tableExport({
            formats: ["xlsx"], //Tipo de archivos a exportar ("xlsx","txt", "csv", "xls")
            position: 'top',  // Posicion que se muestran los botones puedes ser: (top, bottom)
            bootstrap: false,//Usar lo estilos de css de bootstrap para los botones (true, false)
            fileName: "EstadoCuenta",    //Nombre del archivo 
        });
        $(window).ready(function () {
            $("#expButton").addClass('btn btn-success p-2 white-text');
            var fecha = new Date();
            
            let params = new URLSearchParams(location.search);
            var fechaInicio = params.get('fechaInicio');
            var fechaFin = params.get('fechaFin');
            var tipoCredito = params.get('tipoCredito');
            var afiliado = params.get('afiliado');

            $("#lblFecha").text("Emision: "+fecha.getFullYear()  + '-' + (fecha.getMonth() + 1) + '-' + fecha.getDate())
            $("#lblRango").text("Del: "+ fechaInicio + " al " + fechaFin);
            $("#lblTipoCrédito").text("Tipo de Crédito: "+ tipoCredito);
            $("#lblAfiliado").text(afiliado);
        })






    </script>

</body>

</html>