<!DOCTYPE html>
<html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Listado Pago de Producto Fresco Mujeres 4 Pinos</title>
    <!--
     
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/css/mdb.css" />

    <link rel="stylesheet" href="../resources/css/addons/datatables.min.css">
    <link rel="stylesheet" href="../resources/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../resources/css/cssMaster.css" />
    <link rel="stylesheet" href="../resources/css/style.css" />

</head>

<body class="bg-light py-5">
    <script type="text/javascript" src="../resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="../resources/js/popper.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../resources/js/mdb.min.js"></script>
    <link href="../resources/css/tableexport.css" rel="stylesheet" type="text/css">


    <!--<script type="text/javascript" src="../resources/js/style.js"></script>    -->
    <script type="text/javascript" src="../resources/js/addons/datatables.min.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../resources/js/bootstrap-datetimepicker.es.js"></script>
    <script type="text/javascript" src="../resources/js/style.js">
    </script>
    <div class="container bg-white mt-5">
        <div class="row w-100">
            <div class="col-sm-12 mx-4 px-4">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th colspan="11" class="text-center">
                                    <h3>Listado Pago de Producto Fresco Mujeres 4 Pinos</h3>
                                    <p id="lblRango"></p>
                                    <p id="lblFecha"></p>
                                    <p id="lblComunidad"></p>
                                    <p id="lblAfiliado"></p>
                                    <p id="lblProducto"></p>
                                </th>
                            </tr>
                            <tr>
                                <th class="th-sm">Código
                                </th>
                                <th class="th-sm">Nombre Afiliado
                                </th>
                                <th class="th-sm">Cheque
                                </th>
                                <th class="th-sm">Monto a Pagar
                                </th>
                                <th class="th-sm">Capital 4 Pinos
                                </th>
                                <th class="th-sm">Intereses 4 Pinos
                                </th>
                                <th class="th-sm">Capital Agrocrédito
                                </th>
                                <th class="th-sm">Capital Ecosaba
                                </th>
                                <th class="th-sm">ISR
                                </th>
                                <th class="th-sm">Descuento
                                </th>
                                <th class="th-sm">Liquido a Pagar
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>8001</td>
                                <td>Afiliado 1</td>
                                <td>1326489</td>
                                <td>5375.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>640.00</td>
                                <td>0.00</td>
                                <td>481.00</td>
                                <td>48.00</td>
                                <td>4084.00</td>
                            </tr>
                            <tr>
                                <td>8002</td>
                                <td>Afiliado 2</td>
                                <td>1326490</td>
                                <td>8923.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>28.00</td>
                                <td>0.00</td>
                                <td>600.00</td>
                                <td>49.00</td>
                                <td>869.00</td>
                            </tr>
                            <tr>
                                <td>8003</td>
                                <td>Afiliado 3</td>
                                <td>1326491</td>
                                <td>1376.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>450.00</td>
                                <td>0.00</td>
                                <td>478.00</td>
                                <td>23.00</td>
                                <td>378.00</td>
                            </tr>
                            <tr>
                                <td>8004</td>
                                <td>Afiliado 4</td>
                                <td>1326492</td>
                                <td>6845.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>473.00</td>
                                <td>0.00</td>
                                <td>642.00</td>
                                <td>6.00</td>
                                <td>4368.00</td>
                            </tr>
                            <tr>
                                <td>8005</td>
                                <td>Afiliado 5</td>
                                <td>1326493</td>
                                <td>1087.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>218.00</td>
                                <td>0.00</td>
                                <td>108.00</td>
                                <td>12.00</td>
                                <td>2040.00</td>
                            </tr>
                            <tr>
                                <td>8006</td>
                                <td>Afiliado 6</td>
                                <td>1326494</td>
                                <td>12325.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>325.00</td>
                                <td>0.00</td>
                                <td>64.00</td>
                                <td>33.00</td>
                                <td>1118.00</td>
                            </tr>
                            <tr>
                                <td>8007</td>
                                <td>Afiliado 7</td>
                                <td>1326495</td>
                                <td>6432.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>212.00</td>
                                <td>0.00</td>
                                <td>105.00</td>
                                <td>43.00</td>
                                <td>1798.00</td>
                            </tr>
                            <tr>
                                <td>8008</td>
                                <td>Afiliado 8</td>
                                <td>1326496</td>
                                <td>11129.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>278.00</td>
                                <td>0.00</td>
                                <td>225.00</td>
                                <td>9.00</td>
                                <td>704.00</td>
                            </tr>
                            <tr>
                                <td>8009</td>
                                <td>Afiliado 9</td>
                                <td>1326497</td>
                                <td>3300.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>22.00</td>
                                <td>0.00</td>
                                <td>123.00</td>
                                <td>34.00</td>
                                <td>188.00</td>
                            </tr>
                            <tr>
                                <td>8010</td>
                                <td>Afiliado 10</td>
                                <td>1326498</td>
                                <td>10218.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>32.00</td>
                                <td>0.00</td>
                                <td>73.00</td>
                                <td>10.00</td>
                                <td>4667.00</td>
                            </tr>
                            <tr>
                                <td>8011</td>
                                <td>Afiliado 11</td>
                                <td>1326499</td>
                                <td>12070.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>492.00</td>
                                <td>0.00</td>
                                <td>601.00</td>
                                <td>47.00</td>
                                <td>1248.00</td>
                            </tr>
                            <tr>
                                <td>8012</td>
                                <td>Afiliado 12</td>
                                <td>1326500</td>
                                <td>4457.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>297.00</td>
                                <td>0.00</td>
                                <td>148.00</td>
                                <td>50.00</td>
                                <td>2832.00</td>
                            </tr>
                            <tr>
                                <td>8013</td>
                                <td>Afiliado 13</td>
                                <td>1326501</td>
                                <td>6753.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>403.00</td>
                                <td>0.00</td>
                                <td>85.00</td>
                                <td>25.00</td>
                                <td>748.00</td>
                            </tr>
                            <tr>
                                <td>8014</td>
                                <td>Afiliado 14</td>
                                <td>1326502</td>
                                <td>660.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>46.00</td>
                                <td>0.00</td>
                                <td>78.00</td>
                                <td>33.00</td>
                                <td>4992.00</td>
                            </tr>
                            <tr>
                                <td>8015</td>
                                <td>Afiliado 15</td>
                                <td>1326503</td>
                                <td>4989.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>545.00</td>
                                <td>0.00</td>
                                <td>606.00</td>
                                <td>30.00</td>
                                <td>2104.00</td>
                            </tr>
                            <tr>
                                <td>8016</td>
                                <td>Afiliado 16</td>
                                <td>1326504</td>
                                <td>2066.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>370.00</td>
                                <td>0.00</td>
                                <td>193.00</td>
                                <td>35.00</td>
                                <td>565.00</td>
                            </tr>
                            <tr>
                                <td>8017</td>
                                <td>Afiliado 17</td>
                                <td>1326505</td>
                                <td>886.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>540.00</td>
                                <td>29.00</td>
                                <td>3224.00</td>
                            </tr>
                            <tr>
                                <td>8018</td>
                                <td>Afiliado 18</td>
                                <td>1326506</td>
                                <td>8308.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>342.00</td>
                                <td>0.00</td>
                                <td>539</td>
                                <td>37.00</td>
                                <td>4860.00</td>
                            </tr>
                            <tr>
                                <td>8019</td>
                                <td>Afiliado 19</td>
                                <td>1326507</td>
                                <td>13246.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>456.00</td>
                                <td>0.00</td>
                                <td>930.00</td>
                                <td>36.00</td>
                                <td>4596.00</td>
                            </tr>
                            <tr>
                                <td>8020</td>
                                <td>Afiliado 20</td>
                                <td>1326508</td>
                                <td>7838.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>635.00</td>
                                <td>0.00</td>
                                <td>870.00</td>
                                <td>20.00</td>
                                <td>1489.00</td>
                            </tr>
                            <tr class="table-secondary">
                                <td colspan='3'></td>
                                <td>128283.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>6264.00</td>
                                <td>0.00</td>
                                <td>5383.00</td>
                                <td>6090.00</td>
                                <td>46872.00</td>
                            </tr>


                        </tbody>

                    </table>
                </div>

                <hr class="d-sm-none">
            </div>
        </div>
    </div>

    <script src="../resources/js/excel/Blob.min.js"></script>
    <script src="../resources/js/excel/FileSaver.min.js"></script>
    <script src="../resources/js/excel/xls.core.min.js"></script>
    <script src="../resources/js/excel/tableexport.js"></script>
    <script>

    </script>
    <script type="text/javascript">
        $("table").tableExport({
            formats: ["xlsx"], //Tipo de archivos a exportar ("xlsx","txt", "csv", "xls")
            position: 'top',  // Posicion que se muestran los botones puedes ser: (top, bottom)
            bootstrap: false,//Usar lo estilos de css de bootstrap para los botones (true, false)
            fileName: "EstadoCuenta",    //Nombre del archivo 
        });
        $(window).ready(function () {
            $("#expButton").addClass('btn btn-success p-2 white-text');
            var fecha = new Date();

            let params = new URLSearchParams(location.search);
            var fechaInicio = params.get('fechaInicio');
            var fechaFin = params.get('fechaFin');
            var comunidad = params.get('comunidad');
            var afiliado = params.get('afiliado');
            var producto = params.get('producto');

            $("#lblFecha").text("Emision: " + fecha.getFullYear() + '-' + (fecha.getMonth() + 1) + '-' + fecha.getDate())
            $("#lblRango").text("Del: " + fechaInicio + " al " + fechaFin);
            $("#lblComunidad").text("Comunidad: " + comunidad);
            $("#lblProducto").text("Producto: " + producto);
            $("#lblAfiliado").text("Afiliado: " + afiliado);
        });
    </script>

</body>

</html>